.single-card-container{
    padding: 10px;
    border-radius: 10px;
}
.card-image{
    height: 250px;
}
.card-comment{
    text-align: justify;
    font-size: 15px;
height: 90px;
}
.card-textt{
    margin-top: 30px;
    font-size: 15px;
    line-height: 6px;
}
@media only screen and (max-width: 1024px){
    .card-comment,.card-textt{
       
    }
}
@media only screen and (max-width: 600px){

}