.instractor-image{
    height: 200px;
    width: 100%;
}
.card-class{
    height: 300px;
    width: 400px;
    margin: 20px auto;
    border-radius: 10px;

}
@media only screen and (max-width: 1024px){
    .instractor-image{
        height: 180px;
        width: 100%
    }
    .card-class{
        height: 280px;
        width: 100%;
        margin: 20px auto;
        border-radius: 10px;
    
    }
}