.service-container{

    padding: 30px;
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(3 ,3fr  );
    grid-gap: 20px;
    background-color: rgb(241, 236, 228);
    border-radius: 10px;
}
.card-img{
    height: 40px;
    width: 25%;
    border-radius: 5px;
    text-align: center;
}
@media only screen and (max-width: 1024px){
    .service-container{
        display: grid;
        grid-template-columns: repeat(2 ,3fr );
        
    }
}
@media only screen and (max-width: 600px){
    .service-container{
        display: grid;
        grid-template-columns: repeat(1 ,3fr )
    }
}